---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Lato, Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #3B3B3B;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$link-color:		#0A6080;
$active-link-color:	#04ABE3;
$navbar-color:		#8A8A8A;

$on-palm:          1079px;
$on-laptop:        1080px;

$fill-width:		85%;

$logo-height:		75px;
$logo-width:		130px;;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "people"
;

.join-img {
	float: left;
	padding-right: $spacing-unit;
	width: 40%;
}

/*p code {
    color: #D14;
    background-color: inherit;
    font-size: 12px;
    border: none;
}*/
/*li code {
    color: #D14;
    background-color: inherit;
    font-size: 12px;
    border: none;
}*/

.journal {
    font-style: italic;
}

.bibliography li {
    margin-bottom: $spacing-unit/3;
}

.left {
    float: left;
    margin-right: $spacing-unit;
    margin-bottom: $spacing-unit;
}

.right {
    float: right;
    margin-left: $spacing-unit;
    margin-bottom: $spacing-unit;
}

.slick-dots {
    margin-left: 0px;
}

.main_carousel {
    width: 60%;
    @include media-query($on-palm) {
        width: 80%;
    }
    @media screen and (min-width: 1905px) {
        width: 972px;
    }
    margin: auto auto;

    img, p {
        margin: auto auto;
    }

    p {
        margin: auto auto;
        text-align: center;
        position: absolute;
        bottom: 20px;
        color: #fff;
        background-color:  rgba(0,0,0,0.75);
        z-index: 10;
	   opacity: 100%;
    }

    button {
        width: 60px;
        height: 100%;
        top: 10px;
        bottom: 0px;
        color: #fff;
        opacity: 100%;
        &.slick-next {
            right: 0px;
            left: auto;
            background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
            &:hover {
                background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
            }
        }
        &.slick-prev {
            left: 0px;
            right: auto;
            background-image: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
            &:hover {
                background-image: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
            }
        }
    }
}

/*.slick-dots {
    @media screen and (max-width: 469px) {
        position: relative !important;
        bottom: 0px !important;
    }
}*/
     
    
button::-moz-focus-inner { outline: 0; border: 0; zoom: normal; }

.abstract {
    margin-left: $spacing-unit * 2;
    margin-right: $spacing-unit * 2;
    display: none;
    font-size: $small-font-size;
}
.bibtex {
    margin-left: $spacing-unit * 2;
    margin-right: $spacing-unit * 2;
    display: none;
    font-size: $small-font-size;
}

.minilinks {
    font-size: $base-font-size * 0.7;

    a {
        background-color: #eee;
    }
}