---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Lato, Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 1;//0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #3B3B3B;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$link-color:		#0A6080;
$active-link-color:	#04ABE3;
$navbar-color:		#8A8A8A;

$on-palm:          1079px;
$on-laptop:        1080px;

$fill-width:		85%;

$logo-height:		75px;
$logo-width:		130px;;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "people"
;

.join-img {
	float: left;
	padding-right: $spacing-unit;
	width: 40%;
}

p code {
    color: #D14;
    background-color: inherit;
    font-size: 12px;
    border: none;
}
li code {
    color: #D14;
    background-color: inherit;
    font-size: 12px;
    border: none;
}

.main_carousel {
    width: 70%;
    margin: auto auto;

    button {
        width: 60px;
        height: 60px;
    }

    img, p {
        width: 90%;
        text-align: center;
        margin: auto auto;
    }

    .slick-prev:before, .slick-next:before {
        color: $navbar-color;
        font-size: 48px;
    }
}

.journal {
    font-style: italic;
}

.bibliography li {
    margin-bottom: $spacing-unit/3;
}

.left {
    float: left;
    margin-right: $spacing-unit;
    margin-bottom: $spacing-unit;
}

.right {
    float: right;
    margin-left: $spacing-unit;
    margin-bottom: $spacing-unit;
}