[submodule "lib/slick"]
	path = lib/slick
	url = https://github.com/kenwheeler/slick.git
[submodule "files/experiments/explanations"]
	path = files/experiments/explanations
	url = https://github.com/djthorne/explanation.git
