---
layout: default
title: People
permalink: people.html
---

{% for role in site.data.cocolab %}
    <h1>{{role.role}}</h1>
    {% for person in role.people %}
        <div class="member">
            {% if person.img %}
                <img src="{{site.url}}{{site.baseurl}}/images/members/{{person.img}}" alt="{{person.name}}"></img>
            {% endif %}
            <div class="text">
                <h2>{{person.name}}</h2>
                {% if person.was %}
                    <p class="was">Was: {{person.was}}</p>
                {% endif %}
                {% if person.now %}
                    <p class="now">{{person.now}}</a>
                {% endif %}
                {% if person.webpage %}
                    <p><a href="{{person.webpage}}">Personal webpage</a></p>
                {% endif %}
                {% for paragraph in person.bio %}
                    <p>{{paragraph}}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endfor %}