---
---

{% if entry.website %}
	<a href="{{entry.website}}">{{entry.title}}.</a>
{% else %}
	{{entry.title}}.
{% endif %}

{{reference}} <!-- this is just author information -->

<span class="minilinks">
{% if entry.abstract %}
	<a onclick="toggle('{{entry.key}}_abstract')">[Abstract]</a>
{% endif %}

{% if entry.website %}
	<a href="{{entry.website}}">[PDF]</a>
{% endif %}

<a onclick="toggle('{{entry.key}}_bibtex')">[BibTeX]</a>
</span>

{% if entry.abstract %}
	<p class="abstract" id="{{entry.key}}_abstract"> <b>Abstract:</b> {{ entry.abstract }}</p>
{% endif %}
	<p class="bibtex" id="{{entry.key}}_bibtex"> <b>BibTeX:</b> {{ entry.bibtex }}</p>

<script>
function toggle(key) {
	var element = document.getElementById(key)
	if (element.style.display == 'block') {
		element.style.display = 'none'
	} else {
		element.style.display = 'block'
	}
}
</script>