<!DOCTYPE html>
<html>

  {% include home_head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <h1 style="text-align: center; font-size: 200%;">Welcome to the Computation & Cognition Lab at Stanford!</h1>
        <div class="blurb"><p>At CoCoLab, we study the computational basis of natural and artificial intelligence.<br><br>How do words connect to the world? How do humans use language so flexibly and effectively? How do we reason about other minds? How are concepts structured, learned, and used? How is knowledge accumulated through generations?<br><br>We apply the resulting ideas to education, psychology, sustainability, and other fields. Along the way we advance basic machine learning techniques such as probabilistic programming, variational inference, unsupervised representation learning, and Bayesian modeling.</p></div>

        <div class="main_carousel">
          {% for image in site.data.carousel %}
          <div class="carousel_element">
            <img src="images/carousel/{{image.image}}" alt="{% if image.alt %}{{image.alt}}{% else %}{{image.label}}{% endif %}"/>
            <p>{{image.label}}</p>
          </div>
          {% endfor %}
        </div>
        {{ content }}

      </div>
    </div>

    <script>
      $(".main_carousel").slick({
        dots: true,
        speed: 1000,
        autoplay: false,
        slidesToShow: 1,
        //fade: true,
        responsive: [
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });
    </script>

    {% include footer.html %}

  </body>

</html>
